*~
\#*
history
places
transient
elpa/
custom.el
recentf
tramp
.backup
.bookmark
.autosave
.tramp-autosave
.projectile_projects
projectile-bookmarks.eld
.projectile_projects.eld
.projects
tree-sitter/
.last-package-update-day
.vimish-fold/
eshell/
.cache/
.dap*
.lsp*
.perspective*
multisession/
.org-id-locations
eln-cache/
geiser-history
org-roam.db
url/
modules/
modules/config-overrides.el
config.el
init.el
early-init.el
.packages/
content/
public/
emms/
persist/
package-quickstart*
*.bak
session.*
.local/
elpaca/
init.el
early-init.el
straight/
geiser-history.guile
.mc-lists.el
eclipse.jdt.ls/
request/
workspace/
vimish-fold/
org-persist/
codeium/
projects
bookmarks
emojis/
minimal-emacs/
minimal-init.el
mastodon.*
.extension
